.ReactModal__Overlay {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4) !important;
}
body{
  overflow-y: auto;
}
body.openNavBar{
  min-height: 100vh;
  overflow-y: hidden;
  overflow: hidden;
}
