* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  background: inherit;
  border: inherit;
  outline: inherit;
  cursor: pointer;
}
input{
  background: inherit;
  outline: inherit;
  border: inherit;
}