@import "../../variables.module.scss";

.checkoutPage {
    padding: 200px 16px 100px;
    background-color: #f1f1f1;
    .insideCheckout {
        max-width: 1110px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 56px;
        .buttonGoBack {
            color: $colorGrey_7A;
            font-family: $fontFamily;
            font-size: $size15;
            font-weight: $weight500;
        }
        .contentCheckout {
            display: flex;
            gap: 28px;
            justify-content: space-between;
            align-items: flex-start;
            .inputCheckout {
                border-radius: 24px;
                background-color: #fff;
                padding: 54px 48px;
                width: 70%;
                display: flex;
                flex-direction: column;
                gap: 32px;
                .title2InputCheckout {
                    color: $colorBlack_00;
                    font-family: $fontFamily;
                    font-size: $size32;
                    font-style: $styleNormal;
                    font-weight: $weight700;
                    line-height: $lineNormal;
                    letter-spacing: $spacing1_14;
                    text-transform: $upperCase;
                }
                .inputs {
                    display: flex;
                    flex-direction: column;
                    gap: 56px;
                    .title4 {
                        color: $colorOrange_D8;
                        font-family: $fontFamily;
                        font-size: $size13;
                        font-style: $styleNormal;
                        font-weight: $weight700;
                        line-height: $lineNormal;
                        letter-spacing: $spacing1;
                        text-transform: $upperCase;
                    }
                    .contentInputs {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 32px;
                        margin-top: 16px;
                        .itemInputHalf,
                        .itemInputFull {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            label {
                                color: $colorBlack_00;
                                font-family: $fontFamily;
                                font-size: $size12;
                                font-style: $styleNormal;
                                font-weight: $weight700;
                                line-height: $lineNormal;
                                letter-spacing: $spacing-0_2;
                            }
                            input {
                                border: 1px solid $colorGrey_97;
                                padding: 16px 24px;
                                border-radius: 8px;
                                transition: 250ms;

                                color: $colorBlack_00;
                                font-family: $fontFamily;
                                font-size: $size14;
                                font-style: $styleNormal;
                                font-weight: $weight700;
                                line-height: $lineNormal;
                                letter-spacing: $spacing-0_25;
                                &::placeholder {
                                    color: $colorGrey_99;
                                    font-family: $fontFamily;
                                    font-size: $size14;
                                    font-style: $styleNormal;
                                    font-weight: $weight700;
                                    line-height: $lineNormal;
                                    letter-spacing: $spacing-0_25;
                                }
                                &:focus {
                                    border: 1px solid $colorOrange_D8;
                                }
                                &:hover {
                                    border: 1px solid $colorOrange_D8;
                                }
                            }
                        }
                        .itemInputHalf {
                            width: calc(50% - 16px);
                        }
                        .itemInputFull {
                            width: 100%;
                        }
                    }
                }
            }
            .summaryCheckout {
                width: 30%;
                border-radius: 24px;
                background-color: #fff;
                padding: 32px;
                .title3SummaryCheckout {
                    color: $colorBlack_00;
                    font-family: $fontFamily;
                    font-size: $size18;
                    font-style: $styleNormal;
                    font-weight: $weight700;
                    line-height: $lineNormal;
                    letter-spacing: $spacing1_2;
                    text-transform: $upperCase;
                }
                .checkoutButton {
                    width: 100%;
                    padding: 16px 32px;
                    display: flex;
                    align-content: inherit;
                    justify-content: center;
                    text-transform: uppercase;
                    background-color: $colorOrange_D8;
                    color: $colorWhite_FF;
                    font-family: $fontFamily;
                    font-size: $size13;
                    font-style: $styleNormal;
                    font-weight: $weight700;
                    line-height: $lineNormal;
                    letter-spacing: $spacing1;
                    transition: 250ms;
                    &:hover{
                        background-color: $colorOrange_FB;
                    }
                }
            }
        }
    }
}
