// COLORS
$colorOrange_D8: #d87d4a;
$colorOrange_FB: #fbaf85;
$colorBlack_00: #000;
$colorBlack_01: #101010;
$colorBlack_19: #191919;
$colorGrey_79: #797979;
$colorGrey_43: #434343;
$colorWhite_FF: #fff;
$colorWhite_F1: #f1f1f1;
$colorWhite_FA: #fafafa;

// FONTS
$fontFamily: "Manrope";

// SIZES
$size13: 13px;
$size14: 14px;
$size15: 15px;
$size18: 18px;
$size24: 24px;
$size28: 28px;
$size36: 36px;
$size40: 40px;
$size56: 56px;

// WEIGHT
$weight400: 400;
$weight500: 500;
$weight700: 700;

// LETTER SPACING
$spacing1: 1px;
$spacing1_07: 1.071px;
$spacing1_2: 1.286px;
$spacing1_4: 1.429px;
$spacing2: 2px;
$spacing10: 10px;
